<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcser.littlechat.mapper.ChatRecordMapper">

    <insert id="insert" parameterType="com.bitcser.littlechat.entity.ChatRecord">
        INSERT INTO `chat_records` (sender_id, receiver_id, last_message, updated_at, unread_count, is_group)
        VALUES (#{senderId}, #{receiverId}, #{lastMessage}, #{updatedAt}, #{unreadCount}, #{isGroup})
    </insert>

    <update id="updateById" parameterType="com.bitcser.littlechat.entity.ChatRecord">
        UPDATE `chat_records` SET last_message = #{lastMessage},  updated_at = #{updatedAt}, unread_count = #{unreadCount}
        WHERE id = #{id}
    </update>

    <resultMap id="chatrecords_users" type="com.bitcser.littlechat.entity.ChatRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="last_message" property="lastMessage" jdbcType="VARCHAR"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="unread_count" property="unreadCount" jdbcType="INTEGER"/>
        <association property="sender"  javaType="com.bitcser.littlechat.entity.User" column="sender_id" select="selectUserById"/>
    </resultMap>

    <select id="selectAll" resultMap="chatrecords_users">
        SELECT * FROM `chat_records` WHERE receiver_id = #{receiverId}
    </select>

    <select id="selectUserById" resultType="com.bitcser.littlechat.entity.User">
        SELECT * FROM `users` WHERE id = #{id}
    </select>


    <select id="selectByIds" resultType="com.bitcser.littlechat.entity.ChatRecord">
        SELECT * FROM `chat_records` WHERE sender_id = #{senderId} AND receiver_id = #{receiverId}
    </select>

</mapper>