<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcser.littlechat.mapper.FriendMapper">

    <insert id="insert" parameterType="com.bitcser.littlechat.entity.Friend">
        INSERT INTO `friends` (user_id, friend_id, status)
        VALUES (#{userId}, #{friendId}, #{status})
    </insert>

    <delete id="deleteById" parameterType="com.bitcser.littlechat.entity.Friend">
        DELETE FROM `friends` WHERE user_id = #{userId} &amp;&amp; friend_id = #{friendId}
    </delete>

    <update id="updateById" parameterType="com.bitcser.littlechat.entity.Friend">
        UPDATE `friends` SET user_id = #{userId},  friend_id = #{friendId}, status = #{status}
        WHERE user_id = #{userId} &amp;&amp; friend_id = #{friendId}
    </update>
    
    <resultMap id="friends_users" type="com.bitcser.littlechat.entity.Friend">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <association property="user"  javaType="com.bitcser.littlechat.entity.User" column="friend_id" select="selectUserById"/>
    </resultMap>

    <select id="selectAll" resultMap="friends_users">
        SELECT * FROM `friends` WHERE user_id = #{userId}
    </select>

    <select id="selectUserById" resultType="com.bitcser.littlechat.entity.User">
        SELECT * FROM `users` WHERE id = #{id}
    </select>

</mapper>